<ion-view view-title="Todos">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios-plus-empty" ng-click="todos.showModalAddTodo()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <h1>Todos</h1>
    <ion-list>
      <ion-item
        ng-repeat="todo in todos.todos"
        ui-sref="app.todo({todoId: todo.id})">
        {{ todo.title }}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
